body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
.calculator{
    border: 1px solid black;
    width: 300px;
    border-radius: 5px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



